*{
      padding:0px;
      margin:0px;
}
body{
      max-width: 1000px;
      height: 100vh;
      margin:0 auto;
      border: 1px solid red;
      padding: 10px;
}

#header_id{
      height:18vh;
      
      
}

#top_bar{
      height: 45% ;
      border: 1px solid red;
}

#logo{
      display: inline-block;
      font-size: 35px;
      font-family: sans-serif;
      margin-top: 15px;
      
      
}

#menu_bar{
      height: 45% ;
      border: 1px solid red;
      margin-top: 5px;

}

#main_id{
      background-color: lightgreen;
      height: 60vh;
      margin-top: 10px;
      
}

#footer_id{
      background-color: #b1e77b;
      height: 20vh;
      margin-top: 10px;

}