*{
      padding:0px;
      margin:0px;
}
body{
      max-width: 1000px;
      height: 100vh;
      margin:0 auto;
      border: 1px solid red;
      padding: 10px;
}

#header_id{
      height:18vh;
      box-sizing: border-box;
  
}

#top_bar{
      height: 45% ;
      border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      box-sizing: border-box;
}

#logo{
      background-color: #b1e77b;
      display: inline-block;
      font-size: 35px;
      font-family: sans-serif;
      
      
}

#point_container{
      border: 1px solid;
      min-width: 150px;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:0 5px;
      box-sizing: border-box;

}

#point_id{
      font-size: 25px;
}

#point_digit{
      font-size: 25px;
}

#menu_bar{
      height: 45% ;
      border: 1px solid red;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

}

#main_id{
      border: 1px solid;
      height: 60vh;
      margin-top: 10px;
      
      
}

#footer_id{
      background-color: #b1e77b;
      height: 20vh;
      margin-top: 10px;

}